.student-owner{
    background-color: rgb(223, 1, 212);
}
.student-contributor1{
    background-color: aqua;
}
.student-contributor2{
    font-family: tahoma;
    font-size: 60px;
    width: 50%;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: lightskyblue;
    border: 1px solid black;
    border-radius: 10px;
    color: rgb(183, 0, 255);
}